<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <title>{% block title %}Projet{% endblock %}</title>

    <!-- Le styles -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
   <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" type="text/css" />
     <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="{{ asset('js/html5shiv.js') }}"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ path('Projet_accueil') }}">Le Reseau</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{{ path('Projet_accueil') }}">Accueil</a></li>
              <li><a href="{{ path('Projet_service') }}">Services</a></li>
              <li><a href="#">Contact</a></li>
	      <ul class="nav pull-right">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<li><a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown">{{ app.user.username }}<b class="caret"></b></a>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
		    <li><a tabindex="-1" href="{{ path('fos_user_profile_show') }} ">Profil</a></li>
		    <li><a class="dropdown-toggle pull-right" data-toggle="dropdown" tabindex="-1" href="#">Administration</a>
		      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
			<li><a tabindex="-1" href="#">Formulaire :</a></li>
			<li class="divider"></li>
			<li><a tabindex="-1" href="{{ path('Projet_administration_application') }}">Application</a></li>
			<li><a tabindex="-1" href="{{ path('Projet_administration_ordinateur') }}">Ordinateur</a></li>
			<li><a tabindex="-1" href="{{ path('Projet_administration_salle') }}">Salle</a></li>
			<li><a tabindex="-1" href="{{ path('Projet_administration_etudiant') }}">Etudiant</a></li>
		    <li><a tabindex="-1" href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
		    </li>
		    {% else %}
		    <li><a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown"> Login <b class="caret"></b></a>
		      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
			<li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>    
			<li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
			</li>
		    {% endif %}
		</ul>
              </ul>
	    </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
     {% block body %}
     {% endblock %}

      <hr>

      <footer>
        <p>&copy; IUT orleans 2014</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-transition.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-alert.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-modal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-dropdown.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-scrollspy.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-tab.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-tooltip.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-popover.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-button.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-collapse.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-carousel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-typeahead.js') }}"></script>

  </body>
</html>
