{% extends "ProjetReseauBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block path %}
	{{ parent() }}/<a href="{{ path('Projet_accueil') }}">Accueil</a>/
{% endblock %}

{% block body_content%}
<h3>Formulaire de Paquet</h3>
  <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" />
  </form>
</div>
{% endblock %}